#map-canvas {
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

#pac-input {
    height: 27px;
    border-radius: 10px;
    font-size: small;
    width: 250px;
}

.list-type-none {
    list-style-type: none;
}

